/* 課表 */
table {
  width: 1200x;
  font-family: cursive;
  font-size: 18px;
  background-color: rgb(236, 228, 228);
}

table,
th,
td {
  border: 1px solid rgb(98, 112, 59);
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

.black {
  background-color: rgb(175, 168, 168);
}

.number {
  background-color: rgb(196, 189, 189);
}

.time {
  background-color: rgb(245, 236, 236);
}

.week {
  background-color: rgb(182, 168, 168);
}

.purple {
  background-color: rgb(207, 78, 78);
}

.red {
  background-color: rgb(199, 123, 123);
}
