/* 履歷表 */
* {
    padding:4px;
    margin: 2px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

body {
    font-family: monospace;
    font-size: 28px;
    background-color: rgb(175, 195, 221);
    border: 3px solid black;
    display: flex;

}


